extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")

block content
    main
        form.product-form(action="/admin/add-products")(method="POST")
            div.form-control
                label Name:
                input(name="title")(type="text")   
            div.form-control
                label Image URL:
                input(name="imageURL")(type="text")
            div.form-control
                label Price:
                input(name="price")(type="number")
            div.form-control
                label Description:
                textarea(name="description")(type="text")(row="5")
            button(type="submit") Add products
