<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css")
        title #{pagetitle}
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list   
                    li.main-header__item
                        a(href="/" class=(path =="/" ? "active" : "") ) Shop
                    li.main-header__item
                        a(href="/products") Products
                    li.main-header__item
                        a(href="/cart") Cart
                    li.main-header__item
                        a(href="/admin/add-products" class=(path =="/admin/add-products" ? "active" : "") ) Add Product
                    li.main-header__item
                        a(href="/admin/products" class=(path =="/admin/products" ? "active" : "") ) Admin Products
        block content
