<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css")
        title #{pagetitle}
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list   
                    li.main-header__item
                        a(href="/" class=(path =="/" ? "active" : "") ) Shop
                    li.main-header__item
                        a(href="/products" class=(path =="/products" ? "active" : "")) Products
                    if isauthenticated
                        li.main-header__item
                            a(href="/cart" class=(path =="/cart" ? "active" : "")) Cart         
                        li.main-header__item
                            a(href="/orders" class=(path =="/orders" ? "active" : "")) Orders
                        li.main-header__item
                        a(href="/admin/add-products" class=(path =="/admin/add-products" ? "active" : "") ) Add Product
                        li.main-header__item
                        a(href="/admin/products" class=(path =="/admin/products" ? "active" : "") ) Admin Products
                    else
                        li.main-header__item
                            a(href="/auth/signup" class=(path =="/auth/signup" ? "active" : "") ) Signup
                        li.main-header__item
                            a(href="/auth/login" class=(path =="/auth/login" ? "active" : "") ) Login
                    if isauthenticated        
                        li.main-header__item
                            form(action="/auth/logout" method="POST") 
                                input(type="hidden" name="_csrf" value=csrfToken)
                                button.btn.btn-primary(type='submit') Logout
                    
        block content
