extends ../layouts/main-layout.pug

block content
    if products.length >0
        ul
            for product in products
                li
                    strong #{product.title} (#{product.quantity})
                    form(action=`/cart-delete-item?id=${product.id}` method="POST")
                        input(type="hidden" name="_csrf" value=csrfToken)
                        button(class="btn" type="submit") Delete
    else
        h1 No products