extends ../layouts/main-layout.pug

block content
        h1 #{products.title}
        p #{products.price}
        p #{products.description}
        form(action=`/cart/?productid=${products.id}` method="POST")
                button(type="submit" class="btn") Add to Cart 